:host {
    .product-list {
        &__container{
            display: flex;
            flex-direction: row;
            height: 100%;
            width: 100%;
            border: 1px solid red;
            
        }

        &__list-wrapper {
            flex-direction: column;
            width: 50%;
        }

        &__product--selected{
            background-color: #1E90FF;
            color: white;
        }

        &__product {
            height: 30px;
            font-size: 16px;
            display: flex;
            align-items: center;
            border: 1px solid #d3d3d3;
            justify-content: center;
          
        }
    }

    
}