:host {
  .product-list {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__search {
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-top: 5px;

      &-input {
        width: 300px;
        margin-bottom: 20px;
      }
    }

    &__list-and-details {
      display: flex;
      justify-content: space-around;
    }

    &__list-wrapper {
      width: 35%;
    }

    &__product-item {
      height: 30px;
      font-size: 16px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d3d3d3;
      justify-content: center;
    }

    &__selected-product-details {
      width: 60%;
    }
  }

  ::ng-deep.mat-mdc-card-header {
    display: unset;
  }
}

mat-card-header {
  &:has(.product-list__product-item) {
    &:hover {
      background-color: #dae2f9;
      cursor: pointer;
    }
  }

  &.product-list__product--selected {
    background-color: #1e90ff;
    color: white;
  }
}
