:host {
  .product-list {
    &__container {
      display: flex;
      flex-direction: column;
    }

    &__search {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: end;
      padding-top: 5px;

      &-input {
        width: 300px;
        margin-bottom: 16px;
      }

      &-pattern-and-icon {
        display: flex !important;
        //flex-direction: row !important;
        //width: 100% !important;
      }
    }

    &__list-and-details {
      display: flex;
      flex-direction: row;
      height: 100%;
      width: 100%;
      justify-content: space-around;
    }

    &__list-wrapper {
      flex-direction: column;
      width: 35%;
    }

    &__product--selected {
      // background-color: #1e90ff;
      // color: white;
      // border-radius: 15%;
    }

    &__product-item {
      height: 30px;
      font-size: 16px;
      display: flex;
      align-items: center;
      border-bottom: 1px solid #d3d3d3;
      justify-content: center;
      width: 100%;
      display: flex;
      flex: 1;


    }

    &__selected-product-details {
      width: 60%;
    }
  }

  ::ng-deep.mat-mdc-card-header {
    display: unset;
  }
}

mat-card-header {
  &:has(.product-list__product-item) {
    &:hover {
      background-color: #dae2f9;
      cursor: pointer;
    }

  }

  &.product-list__product--selected {
    background-color: #1e90ff;
    color: white;
   
  }
}