@if(product() != null) {
<mat-card class="product__container" appearance="outlined">
  <mat-card-header class="product__header">
    <mat-card-title>Product details</mat-card-title>
    <img mat-card-sm-image [src]="product()?.imgSrc" width="55" height="55" alt="image" priority />
  </mat-card-header>
  <mat-card-content class="product__details-wrapper">
    <span>Name: {{ product()?.name }}</span>
    <span>Price: {{ product()?.price | currency }}</span>
    <span>Description: {{ product()?.description }}</span>
  </mat-card-content>
  <mat-card-actions class="product__button">
    <button matButton="tonal" (click)="addToCart()">Add to Cart</button>
  </mat-card-actions>
</mat-card>
}